services:
  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile

    ports:
      - 5077:8000
  
  frontend:
    build:
      context: ./Frontend
    ports:
      - 3000:4200
    
    restart: always
  
    depends_on:
      - backend